.reviews
    background-color: #f5f6f8
    &-slider
        margin-top: 100px
        display: flex
        justify-content: space-between
        &__item
            text-align: center
        &__image
            display: block
            width: 70px
            height: 70px
            border: 2px solid #6a99e9
            border-radius: 60%
            margin: 20px auto

        &__text
            font-size: 15px
            font-style: italic
            width: 370px            
            padding: 20px
            background-color: #fff
            border-radius: 10px
            position: relative
            margin-bottom: 20px
            display: flex
            justify-content: center
            align-items: center
            height: 140px

            &:after
                content: ''
                position: absolute
                bottom: -30px
                transform: translateX(-50%)
                left: 50%                
                height: 10px
                border: 10px solid transparent
                border-top: 10px solid #fff
                
